body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 90vh;
    background-image: url("https://wallpaperaccess.com/full/3074652.jpg");
    opacity: 0.9;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #000000;
    margin-top: 50px;
    display: block;
    background-color: aliceblue;
    width: 970px;
    margin-left: 150px;
    padding: 10px 20px;
}

form {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    margin-left: 160px;
    margin-right: 50px;
    margin-top: 10px;
    color: #501413;
    display: block;
    background-color: aliceblue;
    height: 20px;
}

input[type="text"] {
    width: 40%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

#symptoms {
    height: 180px; /* Đặt độ cao */
    width: 600px;   /* Đặt chiều rộng */
    padding: 10px; /* Đặt khoảng cách giữa văn bản và biên của textarea */
    box-sizing: border-box; /* Đảm bảo padding được tính vào chiều rộng và chiều cao */
    font-size: 16px; /* Đặt cỡ chữ */
    resize: none;
    margin-top: -50px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 50px;
}

button:hover {
    background-color: #0056b3;
}

h2 {
    color: #007bff;
    margin-top: -30px;
    display: block;
    background-color: aliceblue;
    width: 500px;
    margin-left: 400px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
 form div {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
 }

 img {
    width: 50px;
    margin-left: 470px;
    position: fixed;
    margin-top: 520px;
 }